<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="zhfEntities" connectionString="metadata=res://*/CodeParse.Persistent.Model1.csdl|res://*/CodeParse.Persistent.Model1.ssdl|res://*/CodeParse.Persistent.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=zhf;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DAXParser.Properties.Settings.zhfConnectionString"
      connectionString="Data Source=(local);Initial Catalog=zhf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>